<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="Zoho App Functional Regression Test - FF">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="com.zohoapp.testcases.Homepagetest" />
		</classes>
	</test>
	
	<test name="Zoho App Functional Regression Test - Chrome">
		<parameter name="browser" value="ff" />
		<classes>
			<class name="com.zohoapp.testcases.Homepagetest" />
		</classes>
	</test> 
	<!-- Test -->
</suite> <!-- Suite -->
